


/* Start */
/* 
table, th, td {
    width:100%;
    border: solid 1px black;
} */
/* 
body {
    margin: 10%;
}

h1 {
    text-align: center;
} */

/* ======================================================  */

.main {
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.contact-info {
  color:red;  
}

h1 {
  color:red;
}